<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/addon.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ .Scratch.Get "hightlightVersion" }}/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ "<!--[if lt IE 8]>" | safeHTML }}<script src="/assets/js/ie/respond.min.js"></script>{{ "<![endif]-->" | safeHTML }}