{{ partial "variables" . }}
<!DOCTYPE HTML>
{{ partial "theme-license" . }}
<html>

{{ partial "html-head" . }}

<body>
    <div id="wrapper">
        {{ partial "nav" . }}

        <div id="main">
            <h1>{{ .Title }}</h1>
            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

            {{ range $paginator.Pages }}
                {{ partial "post-list" . }}
            {{ end }}

            {{ partial "pagination" . }}
        </div>

        <section id="sidebar">
            <!-- Intro -->
			{{ partial "intro" . }}

            <!-- About -->
			{{ partial "about" . }}

            <!-- Footer -->
			{{ partial "footer" . }}
        </section>
    </div>
    
    {{ partial "gototop" .}}
    {{ partial "scripts" .}}
</body>

</html>
